::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red;
}
#coko{
    color: blue;
}
#inputID::placeholder {
    color: #ff0000;
    opacity: 1;
}

#sidenav-main{
  background-color: #ff0000;
}